{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}Setting New password{% endblock %}

{% block content %}
<p>{% blocktrans %}Please enter your new password twice.{% endblocktrans %}<br />
   {% blocktrans %}So we can verify you typed it in correctly.{% endblocktrans %}</p>
<form class="form-horizontal" action="" method="post">
{% csrf_token %}
   {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="{% trans "Change Password" %}" />
    </div>
</form>
{% endblock %}
