{% extends "base.html" %}

{% block content %}
<h1>Your Account</h1>
<table class="table table-striped table-bordered table-condensed">
<tr><th>Username</th><td>{{ user.username }}</td></tr>
<tr><th>Email</th><td>{{ user.email }}</td></tr>
<tr><th>Groups</th><td>{% for g in user.groups.all %}<a href="/staff/groupdetail/{{ g.id }}/">{{ g.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
</table>
<a class="btn btn-primary" href="/account/changepass">Change password</a>
{% endblock %}

