{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "New API Key" %} - {% trans "Rattic" %}{% endblock %}

{% block content %}
<h1>{% trans "New API Key" %}</h1>

<div class="alert">
  <strong>{% trans "Warning!" %}</strong>
  {% blocktrans %}This is the last chance that you will have to access the secret key. You should save it in a safe place now.{% endblocktrans %}
</div>
<p>
  {% blocktrans %}Your new API key has been created.{% endblocktrans %}
</p>
<p>
  <strong>{% trans "Name" %}:</strong> {{ key.name }}<br />
  <strong>{% trans "Secret Key" %}:</strong> {{ key.key }}
</p>
<p>
  <a href="{% url 'account.views.profile' %}" class="btn btn-primary">{% trans "Back to Profile" %}</a>
</p>

{% endblock %}
