{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %} - {% trans "Rattic" %}{% endblock %}

{% block content %}
<p>{% blocktrans %}Please specify your email address to receive instructions for resetting it.{% endblocktrans %}</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">{% trans "E-mail address" %}:</label> {{ form.email }} <input type="submit" value="{% trans "Reset password" %}" /></p>
</form>
{% endblock %}
