Django>=1.6,<1.7
Markdown>=2.4,<2.5
Pillow>=2.3,<2.4
South>=0.8,<0.9
django-auth-ldap==1.1.8
django-database-files==0.1
django-otp==0.2.7
django-tastypie==0.9.15
django-two-factor-auth==0.5.0
django-user-sessions==0.1.3
mimeparse>=0.1,<0.2
pyasn1==0.1.7
pycrypto>=2.6,<2.7
python-dateutil>=2.1,<2.2
python-ldap>=2.4,<2.5
python-mimeparse==0.1.4
six>=1.6,<1.7
urldecode==0.1
wsgiref==0.1.2
keepassdb==0.2.1
db_backup==0.1.3
boto==2.26.1
lxml==3.3.3
celery>=3.1,<3.2
django-celery>=3.1,<3.2
importlib
django-social-auth>=0.7.9
paramiko==1.15.2
