.parent-sized {
  width: 100%;
}

div.copybutton {
  position: relative;
  display: inline;
}

span#password {
  visibility: hidden;
}

a#hidepass {
  display: none;
}

img.logo {
    width: 16px;
    height: 16px;
}

