.parent-sized {
  width: 100%;
}

div.copybutton {
  position: relative;
  display: inline;
}

/* CSS rules to hide/unhide the password */
.textshadow span#password {
  color: transparent;
  text-shadow: 0 0 0px #000000;
  transition: text-shadow 0.5s ease-in-out 0s;
}

.textshadow span#password.passhidden {
  text-shadow: 0 0 10px #000000;
}

.no-textshadow span#password {
  visibility: visible;
}

.no-textshadow span#password.passhidden {
  visibility: hidden;
}


button#copyuser {
  visibility: hidden;
}


button#copyclipboard {
  visibility: hidden;
}

a#hidepass {
  display: none;
}

img.logo {
    width: 16px;
    height: 16px;
}

.container-fluid .credit {
    margin: 20px 0;
}

.creddescription {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}


/************************
 * Sticky footer styles *
 ************************/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*********************
 * Responsive tables *
 *********************/
@media (max-width: 500px) {
    .table-responsive-fourth-column tbody td:nth-child(4),
    .table-responsive-fourth-column thead th:nth-child(4){display: none;}
}

@media (max-width: 767px) {
    .table-responsive-fifth-column tbody td:nth-child(5),
    .table-responsive-fifth-column thead th:nth-child(5){display: none;}
}


