{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Rattic{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">RatticDB</a>
            <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
     <div class="row-fluid">
          <div class="span2">
               <h4>Categories</h4>
               {% for cat in allcategories %}
               <p><a href="/cred/list-by-cat/{{ cat.id }}/">{{ cat.name }}</a></p>
               {% endfor %}
               <h4>Other</h4>
               <p><a href="/staff/">Staff Management</a></p>
          </div>
          <div class="span10">
              {% block content %}{% endblock %}
          </div>
     </div>
</div>
<script src="{% static "jquery/js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
