{% load url from future %}
{% load static from staticfiles %}
{% load url_root from ratticweb %}
<!DOCTYPE html>
<html lang="en">
{% if TEMPLATE_DEBUG %}
<!--
{% debug %}
-->
{% endif %}
<head>
  <title>{% block title %}Rattic{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "rattic/css/base.css" %}" rel="stylesheet" media="screen">
  <link href="{% static "chosen/500c34bc/css/chosen.css" %}" rel="stylesheet" media="screen">
  <script src="{% static "modernizr/2.6.2/modernizr.js" %}" ></script>
  <script> var url_root = "{% url_root %}" </script>
  <link href="{% static "favicon.ico" %}" rel="shortcut icon">
</head>
<body>
<div id="wrap">
    <div class="container-fluid">
         {% include "navbar.html" %}
         <div class="row-fluid">
              <div class="span2 hidden-phone">
                  {% include "sidebar.html" %}
              </div>
              {% block self_span_content %}
                  <div class="span10">
                      {% block content %}{% endblock %}
                  </div>
              {% endblock %}
         </div>
         <div id="push"></div>
    </div>
</div>
<div id="footer">
  <div class="container-fluid">
    <p class="muted credit">Password management powered by <a href="http://rattic.org/">RatticDB</a>, built by <a href="https://twitter.com/smarthall">@smarthall</a> and <a href="https://twitter.com/zemmiph0bia">@zemmiph0bia</a>. | <a href="https://github.com/tildaslash/RatticWeb/issues/new">Report an issue</a> | <a href="https://twitter.com/RatticDB">Contact Us</a></p>
  </div>
</div>
<script src="{% static "jquery/js/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "chosen/500c34bc/js/chosen.jquery.min.js" %}"></script>
<script src="{% static "zeroclipboard/1.1.7/ZeroClipboard.min.js" %}"></script>
<script src="{% static "flash_detect/1.0.4/flash_detect_min.js" %}"></script>
<script src="{% static "sjcl/d85a8b4/sjcl.js" %}"></script>
<script>
  sjcl.random.startCollectors();
  ZeroClipboard.setDefaults( { moviePath: '{% static "zeroclipboard/1.1.7/ZeroClipboard.swf" %}' } );
</script>
<script src="{% static "rattic/js/core.js" %}"></script>
<script src="{% static "rattic/js/passgen.js" %}"></script>
</body>
</html>
