{% extends "base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% load i18n %}

{% block content %}
{% if form.errors %}
<div id="loginfailed" class="alert alert-error">
    {% blocktrans %}Your username and password didn't match. Please try again.{% endblocktrans %}
</div>
{% endif %}
<div class="pagination-centered">
    <h1>{% trans "Welcome to Rattic" %}</h1>
    <img class="biglogo" alt="RatticDB Logo" src="{% static rattic_logo %}">
    <p>{% trans "It does passwords." %}</p>
    <p class="visible-phone"><a class='btn btn-primary' href="{% url "login" %}" >{% trans "Login" %}</a></p>
</div>
{% endblock %}
