{% load url from future %}
{% load static from staticfiles %}
{% url "cred.views.list" as cred_views_list %}
{% url "cred.views.viewqueue" as cred_views_viewqueue %}
{% url "staff.views.home" as staff_views_home %}
{% url "help.views.home" as help_views_home %}
<div class="navbar">
    <div class="navbar-inner">
	    <a class="brand" href="/"><img class="logo" src="{% static "rattic/img/logo.png" %}" /><span class="hidden-phone"> RatticDB</span></a>

        <ul class="nav visible-desktop">
          <li {% if pageurl == cred_views_list %}class="active"{% endif %}><a href="{{ cred_views_list }}">Passwords</a></li>
            {% if user.is_authenticated %}<li {% if pageurl == cred_views_viewqueue %}class="active"{% endif %}><a href="{{ cred_views_viewqueue }}">Change Queue{% if changeqcount > 0 %} <span class="badge">{{ changeqcount }}</span>{% endif %}</a></li>{% endif %}
            {% if user.is_staff %}<li {% if pageurl == staff_views_home %}class="active"{% endif %}><a href="{{ staff_views_home }}">Staff Management</a></li>{% endif %}
	    {% if helplinks %}<li {% if pageurl == help_views_home %}class="active"{% endif %}><a href="{{ help_views_home }}">Help</a></li>{% endif %}
        </ul>

        <ul class="nav hidden-desktop">
          <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Navigation <b class="caret"></b></a>
	    <ul class="dropdown-menu" role="menu">
              <li><a href="{{ cred_views_list }}">Passwords</a></li>
	      {% if user.is_authenticated %}<li><a href="{{ cred_views_viewqueue }}">Change Queue{% if changeqcount > 0 %} <span class="badge">{{ changeqcount }}</span>{% endif %}</a></li>{% endif %}
              {% if user.is_staff %}<li><a href="{{ staff_views_home }}">Staff Management</a></li>{% endif %}
	      {% if helplinks %}<li><a href="{{ help_views_home }}">Help</a></li>{% endif %}
	    </ul>
	  </li>
        </ul>

        <form id="search" onsubmit="return credsearch()" class="navbar-search pull-right hidden-phone">
             <input type="text" name="box" class="search-query" placeholder="Search">
        </form>
    </div>
</div>
