{% load url from future %}
{% load i18n %}

{% if user.is_authenticated %}
     <h4>{% trans "You" %}</h4>
         <p>{% blocktrans %}Welcome {{ user.username|title }}.{% endblocktrans %}<p>
         <a class="btn" href="{% url "account.views.profile" %}">{% trans "Profile" %}</a>
         <a class="btn btn-danger" href="{% url "django.contrib.auth.views.logout" %}">{% trans "Logout" %}</a>
     <h4><a href="{% url "cred.views.tags"  %}">{% trans "Tags" %}</a></h4>
     {% if user.is_authenticated %}
         {% for tag in user.profile.favourite_tags.all %}
         <p><i class="icon-minus"></i> <a href="{% url "cred.views.list" "tag" tag.id %}">{{ tag.name }}</a></p>
         {% empty %}
         <p>{% blocktrans %}Add Favourite Tags on the {% endblocktrans %}
         <a href="{% url 'account.views.profile' %}">{% trans "profile" %}</a> {% blocktrans %}page to see them here.{% endblocktrans %}</p>
         {% endfor %}
     {% endif %}
{% else %}
    <h4>Login</h4>
    <form class="form-inline" method="post" action="{% url "login" %}?next={{ next|default:'' }}">{% csrf_token %}
       <label for="id_username">Username</label><input class="parent-sized" id="id_username" type="text" name="auth-username" maxlength="30" />
       <label for="id_password">Password</label><input class="parent-sized" type="password" name="auth-password" id="id_password" />
    <input type="submit" class="btn" value="Login"/>
    {% if not LDAP_ENABLED %}<p><a href="{% url "django.contrib.auth.views.password_reset" %}">Forgotten password?</a></p>{% endif %}
    <input type="hidden" name="login_view-current_step" value="auth" />
    </form>
{% endif %}
