{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block headarea %}
  {% if user.is_staff and not LDAP_ENABLED %}
    <meta name="rattic_attach_new_group_buttons" content="true" />
  {% else %}
    <meta name="rattic_attach_new_group_buttons" content="false" />
  {% endif %}
{% endblock %}


{% block content %}

<h1>{% trans "Keepass Import" %}</h1>
<p>{% blocktrans %}We recommend that you import your keepass data into a
seperate group, then adjust the group on each password as required.{% endblocktrans %}</p>
<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
    </div>
</form>
{% endblock %}

