{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% if delete %}
<div class="alert alert-error">Deleting this user will remove any associated auditlogs, maybe deactivate their account instead?</div>
{% endif %}
<table class="table table-striped table-bordered table-condensed">
<tr><th>Username</th><td>{{ viewuser.username }}</td></tr>
<tr><th>Email</th><td>{{ viewuser.email }}</td></tr>
<tr><th>Groups</th><td>{% for g in viewuser.groups.all %}<a href="{% url "staff.views.groupdetail" g.id %}">{{ g.name }}</a>, {% endfor %}</td></tr>
</table>
{% if delete %}
    <form action="{% url "staff.views.userdelete" viewuser.id %}" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete forever" />
    </form>
{% else %}
<a class="btn" href="{% url "staff.views.home" %}">Back</a>
{% include "credaudit_list.html" with type='cred' %}
{% endif %}
{% endblock %}

