{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% load credicons %}

{% block content %}

{% include "cred_part_passgenmodal.html" %}
{% include "cred_part_logomodal.html" with icons=icons txtfield='iconname' imgfield='logodisplay' %}
<h1>{% trans "Import" %}</h1>

<p>{% blocktrans %}There are {{count}} passwords left to import. If you wish you can{% endblocktrans %} <a href="{% url 'staff.views.process_import' %}">{% trans "skip importing this password" %}</a>.</p>

<form class="form-horizontal" enctype="multipart/form-data" autocomplete="off" action="{{ action }}{% if next %}?next={{ next }}{% endif %}" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
            {% if field.html_name == 'iconname' %}
              {% cred_icon field.value tagid='logodisplay' %}&nbsp;
              <input type='hidden' name='{{ field.html_name }}' id='id_{{ field.html_name }}' value='{{ field.value }}' />
              <a href="#logoModal" role="button" class="btn" id="choosebutton" data-toggle="modal">{% trans "Choose" %}</a>
            {% else %}
                {{ field }}
            {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="controls">
        <input id="credsave" class="btn btn-primary" type="submit" value="{% trans "Submit" %}" />
    </div>
</form>
{% endblock %}

