{% extends "base.html" %}
{% load future %}

{% block content %}
{% if type == 'cred' %}
  <h2>Audit Logs for password &apos;{{ cred.title }}&apos;</h2>
{% else %}
  <h2>Audit Logs for user &apos;{{ loguser.username }}&apos;</h2>
{% endif %}
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Action</th>
  {% if type == 'cred' %}
    <th>User</th>
  {% else %}
    <th>Credential</th>
  {% endif %}
  <th>When</th>
</tr>
{% for audit in logs %}
  <tr>
    <td>{{ audit.get_audittype_display }}</td>
    {% if type == 'cred' %}
      <td><a href="{% url 'staff.views.userdetail' audit.user.id %}">{{ audit.user.username }}</a></td>
    {% else %}
      <td><a href="{% url 'cred.views.detail' audit.cred.id %}">{{ audit.cred.title }}</a></td>
    {% endif %}
    <td>{{ audit.time }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
