{% extends "base.html" %}

{% block content %}
{% if delete %}
<div class="alert alert-error">Deleting this group will delete every password underneath it :(</div>
{% endif %}
<table class="table table-striped table-bordered table-condensed">
<tr><th>Name</th><td>{{ group.name }}</td></tr>
<tr><th>Users</th><td>{% for u in group.user_set.all %}<a href="{% staff.views.userdetail u.id %}">{{ u.username }}</a>, {% endfor %}</td></tr>
<tr><th>Passwords</th><td>{% for c in group.cred_set.all %}<a href="{% url cred.views.detail c.id %}">{{ c.title }}</a>, {% endfor %}</td></tr>
</table>
{% if delete %}
    <form action="{% url staff.views.groupdelete group.id %}" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete forever" />
    </form>
{% endif %}
{% endblock %}
