NameVirtualHost *:80
<VirtualHost *:80>
   ServerName {{ ansible_fqdn }}
   ServerAlias {{ ansible_hostname }}
   Redirect permanent / https://{{ ansible_fqdn }}{{urlroot}}
</VirtualHost>

Alias /robots.txt /opt/apps/RatticWeb/static/robots.txt
Alias /favicon.ico /opt/apps/Ratticweb/static/favicon.ico

AliasMatch ^/([^/]*\.css) /opt/apps/RatticWeb/static/styles/$1

Alias {{urlroot}}media/ /opt/apps/RatticWeb/media/
Alias {{urlroot}}static/ /opt/apps/RatticWeb/static/

<Directory /opt/apps/RatticWeb/static>
Order deny,allow
Allow from all
</Directory>

<Directory /opt/apps/RatticWeb/media>
Order deny,allow
Allow from all
</Directory>

WSGIScriptAlias / /opt/apps/RatticWeb/ratticweb/wsgi.py
WSGIPassAuthorization On

WSGISocketPrefix run/wsgi
WSGIDaemonProcess rattic processes=2 threads=25 home=/opt/apps/RatticWeb/ python-path=/opt/apps/RatticWeb:/opt/apps/RatticWeb.venv/lib/python2.6/site-packages display-name=%{GROUP}
WSGIProcessGroup rattic


<Directory /opt/apps/RatticWeb/ratticweb>
  <Files wsgi.py>
    Order deny,allow
    Allow from all
  </Files>
</Directory>

<Location />
  SetOutputFilter DEFLATE
  
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  SetEnvIfNoCase Request_URI \
  \.(?:gif|jpe?g|png)$ no-gzip dont-vary
  Header append Vary User-Agent env=!dont-vary
</Location> 
