{% load url from future %}

{% include "cred_part_newtagmodal.html" %}

<table class="table table-striped table-bordered table-condensed">
<thead>
    <tr><td colspan="3"><a class="btn" data-toggle="modal" href="#newtagmodal" >Add New</a></td></tr>
    <tr><th>Name</th><th>Count</th><th>Actions</th></tr>
</thead>
<tbody>
    {% for t,c in tags.items %}
    <tr>
        <td><a href="{% url "cred.views.list" 'tag' t.id %}">{{ t.name }}</a></td>
        <td>{{ c }}</td>
        <td><a href="{% url "cred.views.tagdelete" t.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
