{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% if not hidecredlist %}
<h1>{{ credtitle|default:"All Passwords" }}</h1>
<p><a class="btn" href="{% url "cred.views.add" %}">Add New</a></p>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Group</th>
    <th>Tags</th>
  </tr>
    {% for c in credlist %}
    <tr {% if c.on_changeq %}class="warning" {% endif %}>
      <td>{% include 'cred_credicon.html' with icon=c.icon only %} <a href="{% url "cred.views.detail" c.id %}">{{ c.title }}</a></td>
      <td>{{ c.username }}</td>
      <td><a href="{% url "cred.views.list_by_group" c.group.id %}">{{ c.group.name }}</a></td>
      <td>{% for t in c.tags.all %}{% if not forloop.first %}, {% endif %}<a href="{% url "cred.views.list_by_tag" t.id %}">{{ t.name }}</a>{% endfor %}</td>
    </tr>
{% endfor %}
</table>

<div class="pagination pagination-centered">
  <ul>
    {% if credlist.has_previous %}
      <li><a href="?page={{ credlist.previous_page_number }}">Prev</a></li>
    {% else %}
      <li class="disabled"><a href="#">Prev</a></li>
    {% endif %}
    {% for p in credlist.paginator.page_range %}
      {% if credlist.number == p %}
        <li class="active"><a href="#">{{ p }}</a></li>
      {% else %}
        <li><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}
    {% if credlist.has_next %}
      <li><a href="?page={{ credlist.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><a href="#">Next</a></li>
    {%endif %}
  </ul>
</div>
{% endif %}


{% if showtaglist %}
<h1>Matched Tags</h1>
{% include "cred_taglist.html" with tags=tag only %}
{% endif %}
{% endblock %}

