{% extends "base.html" %}
{% load future %}

{% block content %}
<script>
  var credId = {{ cred.id }};
</script>

<h1>{{ cred.title }}</h1>
{% if delete %}
<div class="alert alert-error">You are about to delete this password. A staff member will be required if you want to undelete it.</div>
{% endif %}
{% if cred.is_deleted %}
<div class="alert alert-error">This credential has been deleted and is in the trash can. It is only visible to staff. You can alter it if you wish, its history will still be recorded. Click the undelete button to restore it. If you click the Delete Permanently button then the password, its entire history and all its audit logs will be removed.</div>
{% endif %}
<p><div class="btn-group">
    <a class="btn" href="{% url 'cred.views.edit' cred.id %}">Edit</a>
    {% if not delete %}<a class="btn btn-danger" href="{% url 'cred.views.delete' cred.id %}">Delete</a>{% endif %}
    {% if not cred.is_deleted %}
        <a class="btn" href="{% url 'cred.views.addtoqueue' cred.id %}">Add to Change Queue</a>
    {% endif %}
    {% if cred.is_deleted and not undelete %}
    <a class="btn btn-success" href="{% url 'staff.views.credundelete' cred.id %}">Undelete</a>
    {% endif %}
</div></p>
<table class="table table-striped table-bordered table-condensed">
{% if cred.url %}<tr><th>URL</th><td><a href="{{ cred.url }}">{{ cred.url }}</a></td></tr>{% endif %}
<tr><th>Username</th><td>{{ cred.username }}</td></tr>
<tr><th>Password <a id="hidepass" onclick="hidepass()" class="btn btn-mini"><i class="icon-eye-close"></i></a> <a id="showpass" onclick="showpass()" class="btn btn-mini"><i class="icon-eye-open"></i></a></th><td><span id="password"></span> {% include 'clippy.html' with id=cred.password only %}</td></tr>
<tr><th>Group</th><td><a href="{% url 'cred.views.list_by_group' cred.group.id %}">{{ cred.group.name }}</a></td></tr>
<tr><th>Tags</th><td>{% for t in cred.tags.all %}<a href="{% url 'cred.views.list_by_tag' t.id %}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td></tr>
<tr><th>Last Change</th><td>{{ lastchange }}</td></tr>
</table>
<strong>Description:</strong>
<pre>
{{ cred.description }}
</pre>
{% if delete %}
    <form action="" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
{% endif %}
{% if undelete %}
    <form action="" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-success" value="Undelete" />
    </form>
{% endif %}
{% if not delete %}
    {% if credlogs %}
        {% include "credaudit_list.html" with type='user' %}
    {% endif %}
{% endif %}
{% endblock %}
