{% extends "base.html" %}

{% block content %}
{% if not hidecredlist %}
<h1>{{ credtitle|default:"All Passwords" }}</h1>
<p><a class="btn" href="{% url cred.views.add %}">Add New</a></p>
{% include "cred_table.html" with credlist=credlist only %}

<div class="pagination pagination-centered">
  <ul>
    {% if credlist.has_previous %}
      <li><a href="?page={{ credlist.previous_page_number }}">Prev</a></li>
    {% else %}
      <li class="disabled"><a href="#">Prev</a></li>
    {% endif %}
    {% for p in credlist.paginator.page_range %}
      {% if credlist.number == p %}
        <li class="active"><a href="#">{{ p }}</a></li>
      {% else %}
        <li><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}
    {% if credlist.has_next %}
      <li><a href="?page={{ credlist.next_page_number }}">Next</a></li>
    {% else %}
      <li class="disabled"><a href="#">Next</a></li>
    {%endif %}
  </ul>
</div>
{% endif %}


{% if showtaglist %}
<h1>Matched Tags</h1>
{% include "cred_taglist.html" with tags=tag only %}
{% endif %}
{% endblock %}

