{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-bordered table-condensed">
<tr><th>Title</th><td>{{ cred.title }}</td></tr>
<tr><th>Group</th><td><a href="/staff/groupdetail/{{ cred.group.id}}/">{{ cred.group.name }}</a></td></tr>
<tr><th>Username</th><td>{{ cred.username }}</td></tr>
<tr><th>Password</th><td>{{ cred.password }}</td></tr>
</table>
<strong>Description:</strong>
<pre>
{{ cred.description }}
</pre>
<a class="btn btn-primary" href="/">Back</a>
<a class="btn" href="/cred/edit/{{ cred.id }}/">Edit</a>
{% if showaudit %}
    <h2>Audit Logs</h2>
    <table class="table table-striped table-bordered table-condensed">
    <tr><th>Action</th><th>User</th><th>When</th></tr>
    {% for audit in cred.logs.all %}
      <tr><td>{{ audit.get_audittype_display }}</td><td>{{ audit.user.username }}</td><td>{{ audit.time }}</td></tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
