<div id="passgenmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Password Generator</h3>
  </div>
  <div class="modal-body">
    <p>Options are not yet available, click Generate to change password, or Cancel to exit.</p>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="#" onclick="$('#passgenmodal').modal('hide'); genpassword()" id="genpassconfirm" class="btn btn-primary">Generate</a>
  </div>
</div>
