{% extends "base.html" %}

{% block content %}
<form class="form-horizontal" action="{{ action }}" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <input class="btn-primary" type="submit" value="Submit" />
</form>
{% endblock %}

