{% load i18n %}
<div id="passgenmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Password Generator" %}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered table-condensed">
      <tr><th>{% trans "Must Have" %}</th><th>{% trans "Can Have" %}</th><th>{% trans "Description" %}</th></tr>
      <tr>
        <td><input id="chk_must_lcasealpha" type="checkbox"></td>
        <td><input id="chk_can_lcasealpha" type="checkbox" checked></td>
        <td>{% trans "Lowercase Alphabet" %}</td>
      </tr>
      <tr>
        <td><input id="chk_must_ucasealpha" type="checkbox"></td>
        <td><input id="chk_can_ucasealpha" type="checkbox" checked></td>
        <td>{% trans "Uppercase Alphabet" %}</td>
      </tr>
      <tr>
        <td><input id="chk_must_numbers" type="checkbox"></td>
        <td><input id="chk_can_numbers" type="checkbox" checked></td>
        <td>{% trans "Numbers" %}</td>
      </tr>
      <tr>
        <td><input id="chk_must_special" type="checkbox"></td>
        <td><input id="chk_can_special" type="checkbox"></td>
        <td>{% trans "Special" %}</td>
      </tr>
      <tr>
        <td><input id="chk_must_spaces" type="checkbox"></td>
        <td><input id="chk_can_spaces" type="checkbox"></td>
        <td>{% trans "Spaces" %}</td>
      </tr>
    </table>
    <label for="txt_length">{% trans "Password Length" %}</label> <input name="txt_length" value="12" id='txt_length'>
  </div>
  <div class="modal-footer">
    <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
    <a href="#" onclick="$('#passgenmodal').modal('hide'); genpassword()" id="genpassconfirm" class="btn btn-primary">{% trans "Generate" %}</a>
  </div>
</div>
