{% load i18n %}
<div id="newtagmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{% trans "Add New Tag" %}</h3>
  </div>
  <div class="modal-body">
      <p class="text-success" id="tagcreatedmessage"></p>
      <label for="tagname">{% trans "Tag Name:" %}</label> <input autocomplete="off" type="text" id="tagname" />
  </div>
  <div class="modal-footer">
    <a href="#" onclick="createTagModal(false)" id="newtagconfirm" class="btn">{% trans "Create Another" %}</a>
    <a href="#" onclick="createTagModal(true)" id="newtagconfirm" class="btn btn-primary">{% trans "Create" %}</a>
  </div>
</div>
