{% extends "base.html" %}

{% block content %}

{% include "staff_part_addgroupmodal.html" %}

<form class="form-horizontal" action="{{ action }}{% if next %}?next={{ next }}{% endif %}" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="control-group">
            {{ field.errors }}
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="controls">
        <input class="btn-primary" type="submit" value="Submit" />
    </div>
</form>
{% endblock %}

