{% load credicons %}

{% comment %}
This takes two variables:
icons - Which is a list of all icons and their locations.
txtfield - The name of the field to put the chosen icon name in.
{% endcomment %}

<div id='logoModal' class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Icons</h3>
    </div>
    <div class="modal-body">
        <div style="width: 540px">
            {% for icon in icons %}
                {% cred_icon icon 'logocallback' %}
            {% endfor %}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>
function logocallback(chosenicon, clickedtag) {
{% if txtfield %}
  $('input#id_{{ txtfield }}').val(chosenicon);
{% endif %}
{% if imgfield %}
  newtag = $('#' + clickedtag).clone()
  newtag.attr('id', 'icon_tmpid').removeAttr('onclick')
  $('img#{{ imgfield }}').replaceWith(newtag)
  newtag.attr('id', '{{ imgfield }}')
{% endif %}
  $('#logoModal').modal('hide');
}
</script>

