<div id="newtagmodal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add New Tag</h3>
  </div>
  <div class="modal-body">
      <label for="tagname">Tag Name:</label> <input autocomplete="off" type="text" id="tagname" />
  </div>
  <div class="modal-footer">
    <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <a href="#" onclick="createTagModal()" id="newtagconfirm" class="btn btn-primary">Create</a>
  </div>
</div>
